.frame {
  width: 400px;
  height: auto;
  font-style: italic;
  font-weight: bold;
  padding: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background:
  url(./img/top-bg.png) center top / contain no-repeat,
  url(./img/bottom-bg.png) center bottom / contain no-repeat,
  url(./img/center-bg.png) center top / contain repeat-y;  
  }

  p::first-letter {
    color: red;
    }

    p {
      text-indent: 1.5em;
    }